useDynLib(sgp, .registration=TRUE)
import(magrittr)
import(geoR)
import(LaplacesDemon)
importFrom(fields, Matern)
importFrom(RandomFieldsUtils, cholx)
import(stats)
importFrom(Rcpp, evalCpp)
importFrom(emulator, quad.form)
exportPattern("^[[:alpha:]]+")
