useDynLib(sgp, .registration=TRUE)
import(magrittr)
import(geoR)
import(LaplacesDemon)
import(Matrix)
import(purrr)
importFrom(fields, Exponential)
importFrom(RandomFieldsUtils, cholx)
import(stats)
importFrom(Rcpp, evalCpp)
importFrom(emulator, quad.form)
export("run_scc_scan")
export("fit_nngp")
export("sample_new_nngps")
export("FDR")
export("FDX")
export("wFDR")
export("wFDX")
export("compute_area_based_error_rate")
export("test_hierarchically")
exportPattern("^[[:alpha:]]+")
